/.vscode
/box.html
/chatGPTonlineshop.css
/chatGPTonlineshop.html
/css4.css
/css4.html
/day5.css
/day5.html
/first.cpp
/first.css
/FlexBox.txt
/h1.jpg
/img1.jpg
/img2.jpg
/img3.avif
/img4.jpg
/img5.jpg
/img6.avif
/img7.avif
/img8.avif
/index.html
/level2.css
/level2.html
/level4.css
/level4.html
/level5.css
/level5.html
/love.jpg
/love2.jpg
/Media Queries.txt
/new_index.html
/new_style.css
/practice1.css
/practice4.css
/practice4.html
/practice5.css
/practice5.html
/practice6.css
/practice6.html
/style.css
/Transition to Animation.txt